@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Leckerli+One|Open+Sans|Roboto');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Leckerli One', cursive;*/

/* sky : #CAEBF2
ABU TUA CARBON : #A9A9A9
WATERMELON : #FF3B3F
NEUTRAL : #EFEFEF 

grain: #d7cec7
blackboard: #565656
oxblood: #76323f
tan: #c09f80
*/

*{
  margin: 0;
  padding: 0;
}
body{
  margin: 15px;
  color: #222;
  font-size: 14px;
  /* background-color: #efefef; */
  font-family: 'Roboto', sans-serif;
}
.watermelon{
  background-color: #ff3b3f
}
.neutral{
  background-color: #efefef;
}
.skyblue{
  background-color: #CAEBF2;
}
.blackboard{
  background-color: #565656;
}
.box-null{
  padding: 0;
  margin: 0;
}
.height-full{
  height: 150px;
  text-align: center;
}
.height-half{
  height: 50%;
  text-align: center;
}
.height-full a{
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 700;
}
.height-full i{
  font-size: 1.8em;
}
.center-thing{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.height-middle{
  height: 200px;
}

/* header------------------------- */
header p{
  margin-bottom: 0;
}
.header-top{
  position: relative
}
.header-top p{
  color: #fff;
}
.header-bottom{
  padding: 0;
}
.education, about{
  position: relative;
}
.education a{
  color: #727272;
}
.personality a, .about a{
  color: #ff3b3f;
}
.skill a{
  color: #26c4e6;
}
.just-quotes{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.just-quotes p{
  width: 65%;
  text-align: right;
  border-right: 9px solid #FF3B3F;
  font-size: 1em;
  color: #efefef;
  font-weight: 500;
  padding-right: 10px;
  margin-right: 20px;
}
.wrapper{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.wrapper > * {
  flex: 1 100%;
}
.education{
  order: 2;
}
.personality{
  order: 1;
}


/* content------------------------ */



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .height-full{
    height: 250px;
  }
  .height-half{
    height: 100%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .height-full{
    height: 300px;
  }
  .height-half{
    height: 50%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .height-full{
    height: 400px;
  }
  .box-half{
    height: 200px;
  }
  .height-full a{
    font-size: 1.3em;
  }
  .height-full i{
    font-size: 2em;
  }
  .just-quotes p{
    font-size: 1.5em;
  }
}